*{
	font-family: 'Nunito Sans', sans-serif;
	margin:0px; padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	/*text-transform: capitalize;*/
	transition: all .5s linear;
}
body{
	font-family: 'Nunito Sans', sans-serif;
	background: #111;
	overflow-x: hidden;
	
}
header{
	position: fixed;
	top: 0;left: 0;
	z-index: 1000;
	height: 100%;
	width: 23.5rem;
	background:dimgray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	text-align: center;
}
header .user img{
	height: 15rem;
	width: 15rem;
	 border-radius: 50%;
	object-fit: cover;
	margin-bottom: .1rem;
	margin-top: 4em;
	margin-left: 0rem;
	

}
header .user .name{
	font-size: 3rem;
	color: #fff;
	width: 25rem;

}
header .user .post{
	font-size: 1.5rem;
	color: #eee;
	width: 25rem;

	
}
header .navbar{
	width: 100%;
}
header .navbar ul{
	list-style: none;
	padding: .2rem 2rem;
}
header .navbar ul li a{
	display: block;
	padding: .5rem;
	margin: .5rem;
	background: #333;
	color: #fff;
	font-size: 1rem;
	border-radius: 5rem;
	width: 18rem;
	text-decoration: none;
}
.intro-name{
	color: yellow;
}
.cv{
	padding-left:10px;

}
.btn{
	display: block;
	padding: .5rem;
	margin: .5rem;
	background: #333;
	color: white;
	font-size: 1rem;
	border-radius: 5rem;
	width: 18rem;
	text-decoration: none;
	font-size: 15px;
}
.btn:hover{
	background-color: yellow;
	color: black;

}.link:hover{
	background-color: yellow;
	color: black;
}
#menu{
	position: fixed;
	top: 2rem;right: 2rem;
	
	color: #fff;
	cursor: pointer;
	font-size: 2rem;
	padding: 1rem 1.5rem;
	z-index: 1000;
	display: none;
}
.hi{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 10rem;
}
.name1{
	font-size: 4rem;
	font-weight: bold;
	
}
.gitlink{
	width: 4rem;
}
.gitlink1{
	width: 3rem;
}
hr{
	 border: 1px solid white;

}
label{
	font-size: 22px;
	color: yellow;
	font-weight: bold;
}
span.span-about{
	color: white;
	font-size: 1.1rem;
}
.list-about{
	font-size: 5rem;
	color: yellow;
}
.educ{
	color: yellow;
}
a.btn1{
	display: block;
	padding: .3rem;
	margin: 1rem;
	background: yellow;
	color: black;
	text-align: center;
	border-radius: 5rem;
	width: 19rem;
	text-decoration: none;
	font-size: 1rem;
}
.btn1:hover{
	background-color: white;
	color: black;
}
h5{
	color: yellow;
}
a.training{
	text-decoration: none;
}
li{
	
	list-style: none;
}




/*.card-project{
	height: 15rem;
}
.box-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem;
	padding-left: 3rem;
}
.box-container .box{

}
*/





@media (max-width: 1200px){
	html{
		font-size: 80%;
	}
}
@media (max-width: 900px){
	header{
		left: -120%;
	}
	#menu{
		display: block;
	}
	header.toggle{
		left: 0%;
	}
	header{
		width: 50vw;
	}
	header .navbar ul li a{
	display: block;
	padding: .5rem;
	margin: 1rem 0;
	background: #333;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 5rem;
	width: 20rem;
	text-decoration: none;
}
header .user img{
	height: 15rem;
	width: 15rem;
	 border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1rem;
	margin-top: 2rem;
}
header .user .name{
	font-size: 2.5rem;
	color: #fff;
	

}
header .user .post{
	font-size: 1.2rem;
	color: #eee;
	
	text-align: center;
	
}
.about-content{
	font-size: 2rem;
}
.btn{
	display: block;
	padding: .5rem;
	margin: 1.5rem;
	background: #333;
	color: white;
	font-size: 1rem;
	border-radius: 5rem;
	width: 18rem;
	text-decoration: none;
	font-size: 2rem;
}
span.btn1{
	display: block;
	padding: .3rem;
	margin: 1rem;
	background: #333;
	color: white;
	text-align: center;
	border-radius: 5rem;
	width: 19rem;
	text-decoration: none;
	font-size: 1.5rem;
}
.btn:hover{
	background-color: yellow;
	color: black;

}.link:hover{
	background-color: yellow;
	color: black;
}
.gitlink{
	width: 6rem;

}
.gitlink1{
	width: 5rem;
}
label{
	font-size: 28px;
	color: yellow;
	font-weight: bold;
}
span.span-about{
	color: white;
	font-size: 1.6rem;
}
h5{
	font-size: 2rem;
}
h6{
	font-size: 1.8rem;
}
p{
	font-size: 1.5rem;
	text-align: justify;
}
input.form-control{
	font-size: 1.5rem;
	height: 5rem;
}
a.btn1{
	display: block;
	padding: .3rem;
	margin: 1rem;
	background: #333;
	color: white;
	text-align: center;
	border-radius: 5rem;
	width: 21rem;
	text-decoration: none;
	font-size: 1.7rem;
}


}




@media (max-width: 500px){
	header{
		width: 100vw;
	}
	header .navbar ul li a{
	display: block;
	padding: .5rem;
	margin: 1rem 0;
	background: #333;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 5rem;
	width: 23rem;
	text-decoration: none;
}
header .user img{
	height: 15rem;
	width: 15rem;
	 border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1rem;
	margin-top: 2rem;
}
header .user .name{
	font-size: 3rem;
	color: #fff;
	margin-left: 2rem;
	text-align: center;

}
header .user .post{
	font-size: 1.5rem;
	color: #eee;
	padding-left: 5rem;
	
}
.about-content{
	font-size: 1.3rem;
}
.btn{
	display: block;
	padding: .5rem;
	margin: .5rem;
	background: #333;
	color: white;
	font-size: 1rem;
	border-radius: 5rem;
	width: 18rem;
	text-decoration: none;
	font-size: 15px;
}
.btn:hover{
	background-color: yellow;
	color: black;

}.link:hover{
	background-color: yellow;
	color: black;
}
span.btn1{
	display: block;
	padding: .3rem;
	margin: 1rem;
	background: #333;
	color: white;
	text-align: center;
	border-radius: 5rem;
	width: 19rem;
	text-decoration: none;
	font-size: 1.5rem;
}
.btn1:hover{
	background-color: yellow;
	color: black;

}
